/* styles.css */

body, html {
    margin: 0;
    padding: 0;
}
.rotate-landscape {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }  
  
.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.section {
    flex: 0 0 auto;
    width: 100vw; /* Full viewport width for each section */
    min-height: 100vh; /* Full viewport height for each section */
    background-color: #fff;
    padding: 5em;
    box-sizing: border-box;
    position: relative;
}

.header{
    position: absolute;
    margin-top: 3em;
}

.pg-1{
    flex: 1;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.block-1{
    flex: 1;
    max-width: 20%;
}

.train-head-wrapper{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    flex: 1;
    left: 0;
    height: 100%;
}

.train-head-wrapper-end{
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
    left: 0;
    height: 100%;
}

.train-head{
    flex: 1;
    height: 80%;
    flex-grow: 4;
}
.train-head-reverse{
    flex: 1;
    height: 80%;
    width: 40%;
    flex-grow: 4;
    transform: scaleX(-1);
}

.textbox-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 5%;
    width: 20%;
    padding: 20px;
    padding-left: 2em;
    align-self: center;
}

.sub-heading-1{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
    margin: 0;
    margin-bottom: 0.75em;
}

.top{
    flex: 1;
    height: 20%;
}
.mid{
    flex: 1;
    height: 60%;
    width: 100%;
}
.bot{
    flex: 1;
    height: 20%;
}

.car-wrapper-1{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.seat-wrapper{
    display: flex;
    flex: 1;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.seat-top{
    display: flex;
    height: 50%;
    width: 100%;
    flex: 1;
}
.window-1{
    display: flex;
}
.window-2{
    display: flex;
    width: auto;
}
.window-spacer{
    display: flex;
    width: 100%;
}
.seat-bot{
    display: flex;
    height: 50%;
    width: 100%;
    flex: 1;
}

.seat-1{
    height: 100%;
    width: auto;
}

.door-wrapper{
    flex: 1;
    display: flex;
    height: 100%;
}
.half-door{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.door-1{
    max-width: auto;
    height: 90%;
}

.head-back{
    height: 60%;
    width: auto;
    transform: scaleX(-1);
}

p {
    font-family: Montserrat;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    margin-bottom: 1em;
}

.pgs{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

